#main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/背景.png") no-repeat;
    background-size: 100%;
    position: relative;
}


@keyframes M_a {
    from {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes B_a {
    from {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    to {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes P_1 {
    from {
        -webkit-transform: translate3d(0, 700%, 0);
        transform: translate3d(0, 700%, 0);
        visibility: visible;
        opacity: 0;
        /*display: none;*/
    }
    to {
        -webkit-transform: translate3d(0, -300, 0);
        transform: translate3d(0, 0%, 0);
        /*display: block;*/
        opacity: 1;
    }
}

#music{
    width: 38px;
    height: 38px;
    position: absolute;
    z-index: 999;
    right: 16px;
    top: 20px;
    background: url("../img/MP3.svg") no-repeat;
    background-size: 36px 36px;
    background-position:center center ;
    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}

.M_R{
    -webkit-animation: M_a 1s linear 0s infinite;
    -moz-animation: M_a 1s linear 0s infinite;
    -ms-animation: M_a 1s linear 0s infinite;
    animation: M_a 1s linear 0s infinite;
}

.word{
    position: absolute;
    right: 4%;
    top: 16px;
    z-index: 1;
}
.word img{
    width:100px ;
}


.bird{
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 16px;
    background: url("../img/鸟.png") left bottom no-repeat;
    background-size: 100%;

    -webkit-transition: All 3s 0s;
    -moz-transition: All 3s 0s;
    -ms-transition: All 3s 0s;
    transition: All 3s 0s;
}
.run .bird{
    -webkit-animation: B_a 2.5s ease 0s infinite;
    -moz-animation: B_a 2.5s ease 0s 1;
    -ms-animation: B_a 2.5s ease 0s 1;
    animation: B_a 2.5s ease 0s 1;
}
.bird img{height: 100%}

.page{
    width: 100%;
    /* min-width: 700px; */
    max-width: 800px!important;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*align-content:space-between;*/
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 6;
}
.page_1 img{
    flex-shrink: 1;
    margin: 0 auto;
}

.page_1 img:nth-child(1){
    width: 40%;
    /* max-height: 220px; */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    flex-shrink: 0
}
.page_1 img:nth-child(2){
    width: 40%;
    position: absolute;
    /*top: 55%;*/
    left: 0;
    right: 0;
    bottom: 130px;
    margin: auto;
    z-index: 3;
}

.page_1 .y{
    width: 40%;
    height: 50px;
    position: absolute;
    top: 160px;
    left: 50px;
    /*bottom: 50%;*/
    margin: auto;
}
.page_1 .y img{
    width: 40%;
    position: relative !important;
    top: 0;
    bottom: 0;
    margin: auto;
}
.page_1 img:nth-child(3){
    width: 94%;
    height: 20px;
    position: absolute;
    bottom: 87px;
    left: 0;
    right: 0;
    margin: auto;

    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}
.page_1 img:nth-child(4){
    width: 86%;
    height: 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 66px;
    margin: auto;

    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0.2s;
    /*animation: P_1 1s ease 0.2s 1;*/
}
.page_1 img:nth-child(5){
    width: 80%;
    height: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 46px;
    margin: auto;
    /*display: none;*/
    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0.4s;

    /*animation: P_1 1s ease 0.6s 1;*/
}
.page_1 img:nth-child(6){
    width: 80%;
    height: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 27px;
    margin: auto;
    /*display: none;*/
    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0.6s;

    /*animation: P_1 1s ease 0.7s 1;*/
}
.page_1 img:nth-child(7){
    width: 80%;
    height: 14px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8px;
    margin: auto;
    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;

}
.run .page_1 .logo{
    animation: C_in 0.8s ease 0s 1;
}
.run .page_1 .y{
    animation: L_in 1.5s ease 0s 1;
}
.run .page_1 img:nth-child(2){
    animation: P_1 1.2s ease 0s 1;
}

.run .page_1 img:nth-child(3),
.run .page_1 img:nth-child(4),
.run .page_1 img:nth-child(5),
.run .page_1 img:nth-child(6),
.run .page_1 img:nth-child(7)
{animation: P_1 1.5s ease 0s 1;}


.page_2 .img1{
     width: 94%;
     height: 50px;
     background: url("../img/人物介绍框.png") no-repeat;
     -webkit-transition: All 1s 0s;
     -moz-transition: All 1s 0s;
     -ms-transition: All 1s 0s;
     transition: All 1s 0.6s;
 }
.page_2 .img1{
    width: 94%;
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    background: url("../img/人物介绍框.png") no-repeat;
    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}

.page_2 .img2{
    width: 94%;
    height: 100px;
    padding-left: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 80px;
    -webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}

.page_2 .img2 h6{font-size: 24px;letter-spacing: 2px;margin-bottom: 10px}
.page_2 .img2 p{font-size: 16px;letter-spacing:1px;}

.page_2 .img3{
    width: 100%;
    height: calc(100% - 220px);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    background: url("../img/2白块.png") no-repeat;
    background-size: 100% 100%;

    -webkit-transition: All 1.4s 0s;
    -moz-transition: All 1.4s 0s;
    -ms-transition: All 1.4s 0s;
    transition: All 1.4s 0s;
}
.page_2 .img3 img{
    width: 100%;
    height: 100%;
}
/*.page_2 .img3 img{width: 9%}*/

@keyframes L_in {
    from {
        -webkit-transform: translateX(-80%);
        -moz-transform: translateX(-80%);
        -ms-transform: translateX(-80%);
        transform: translateX(-80%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes R_in {
    from {
        -webkit-transform: translateX(80%);
        -moz-transform: translateX(80%);
        -ms-transform:translateX(80%);
        transform: translateX(80%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform:translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes T_in {
    from {
        -webkit-transform: translateY(-300%);
        -moz-transform: translateY(-300%);
        -ms-transform:translateY(-300%);
        transform: translateY(-300%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform:translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes B_in {
    from {
        -webkit-transform: translateY(300%);
        -moz-transform: translateY(300%);
        -ms-transform:translateY(300%);
        transform: translateY(300%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform:translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
}

.run .page_2 .img1{animation: L_in 1.0s ease 0s 1;}
.run .page_2 .img2 {animation: R_in 1s ease 0s 1;}
.run .page_2 .img3{animation: L_in 1.4s ease 0.2s 1;}

.page_3{
    width: 100% !important;
    height: 100% !important;
    justify-content: space-between}
.page_4{
    width: 100% !important;
    height: 100% !important;
    justify-content: space-between}
.page_3 .img1{
    width: 94%;
    height: 50px;
    margin: 60px auto 40px auto;
    background:url("../img/人物介绍框.png") no-repeat;
    background-size:100% ;
    transition: All 1s 0s;
}
.page_4 .img1{
    width: 94%;
    height: 50px;
    margin: 60px auto 40px auto;
    background:url("../img/人物介绍框.png") no-repeat;
    background-size:100% ;
    transition: All 1s 0s;
}
.page_3 .img1 h6{font-size: 24px;margin-top: -16px;text-align: center}
.page_4 .img1 h6{font-size: 24px;margin-top: -16px;text-align: center}
.page_3 .img2,.img3,.img4{
    width: 94%;
    height: 100px;
    margin:  0 auto;
    position: relative;
    /*display: none;*/
}
.page_4 .img2,.img3,.img4{
    width: 94%;
    height: 100px;
    margin:  0 auto;
    position: relative;
    /*display: none;*/
}

.page_3 .text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -14px;
    z-index: 7;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}
.page_4 .text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -14px;
    z-index: 7;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}

.page_3 .text div{width: calc(100% - 110px);}
.page_4 .text div{width: calc(100% - 110px);}
.page_3 .img_bg{
    width: 100%;
    height: 100px;
    background:url("../img/人物介绍框.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 6;

    webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}
.page_4 .img_bg{
    width: 100%;
    height:100px;
    background:url("../img/人物介绍框.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 6;

    webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}

.page_3 img{width: 72px;height: 94px;margin:0 10px;margin-top: -12px}
.page_4 img{width: 72px;height: 94px;margin:0 10px;margin-top: -12px}
.page_3 h5{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.page_4 h5{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.page_3 .text div p{
    display: inline-block;
    /*white-space: nowrap;*/
    font-size: 14px;
    padding-left: 20px;
}
.page_4 .text div p{
    display: inline-block;
    /*white-space: nowrap;*/
    font-size: 14px;
    padding-left: 20px;
}

.page_4 .text div {
    margin-top: -6px;
}

.page_4 .img4{margin-bottom: 16px}

.page_3 .img2 .img_bg,.text{
    webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}
.page_4 .img2 .img_bg,.text{
    webkit-transition: All 1s 0s;
    -moz-transition: All 1s 0s;
    -ms-transition: All 1s 0s;
    transition: All 1s 0s;
}
.page_3 .img3 .img_bg,.text{
    webkit-transition: All 1.2s 0s;
    -moz-transition: All 1.2s 0s;
    -ms-transition: All 1.2s 0s;
    transition: All 1.2s 0s;
}
.page_4 .img3 .img_bg,.text{
    webkit-transition: All 1.2s 0s;
    -moz-transition: All 1.2s 0s;
    -ms-transition: All 1.2s 0s;
    transition: All 1.2s 0s;
}

.page_3 .img4 .img_bg,.text{
    webkit-transition: All 1.2s 0s;
    -moz-transition: All 1.2s 0s;
    -ms-transition: All 1.2s 0s;
    transition: All 1.2s 0s;
}
.page_4 .img4 .img_bg,.text{
    webkit-transition: All 1.2s 0s;
    -moz-transition: All 1.2s 0s;
    -ms-transition: All 1.2s 0s;
    transition: All 1.2s 0s;
}

.run .page_3 .img1{animation: T_in 1.0s ease 0s 1;}

.run .page_3 .img2 .img_bg{animation: L_in 1s ease-in 0s 1;}
.run .page_3 .img2 .text{animation: R_in 1s ease-in 0s 1;}

.run .page_3 .img3 .img_bg{animation: R_in 1.2s ease-in 0.2s 1;}
.run .page_3 .img3 .text{animation: L_in 1.2s ease-in 0.2s 1;}

.run .page_3 .img4 .img_bg{animation: L_in 1.2s ease-in 0.2s 1;}
.run .page_3 .img4 .text{animation: R_in 1.2s ease-in 0.2s 1;}

.run .page_4 .img1{animation: T_in 1.0s ease 0s 1;}

.run .page_4 .img2 .img_bg{animation: L_in 1s ease-in 0s 1;}
.run .page_4 .img2 .text{animation: R_in 1s ease-in 0s 1;}

.run .page_4 .img3 .img_bg{animation: R_in 1.2s ease-in 0.2s 1;}
.run .page_4 .img3 .text{animation: L_in 1.2s ease-in 0.2s 1;}

.run .page_4 .img4 .img_bg{animation: L_in 1.2s ease-in 0.2s 1;}
.run .page_4 .img4 .text{animation: R_in 1.2s ease-in 0.2s 1;}

.page_5{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden}
.page_5 .img1{
    width: 47.5%;
    height: 150px;
    margin-top: 24px;
    float: left;margin-left: 2%;
    overflow: hidden;
    display: flex;flex-direction: column;justify-content: space-between
}
.page_5 .img2{
    width: 47.5%;
    height: 150px;
    float: right;margin-right: 2%;
    margin-top: 24px;
    overflow: hidden;
}
.page_5 .img1 img{width: 100%;height: 48%;float: left;margin-top: 0;}
.page_5 .img2 img{width: 100%;height: 100%}
/*.page_5 .img1{float: left;margin-left: 2%}*/
/*.page_5 .img2{float: right;margin-right: 2%}*/

.page_5 .img3{
    width: 94%;
    height: 100px;

    float: left;
    margin: 0 auto;
    margin-top: 14px;
    margin-left: 3%;
    overflow: hidden;
}
.page_5 .img3 img{
    width: 100%;
    height: 100px;
}
.page_5 .img4,.img5{float: left;margin-left: 2%}


.page_5 .img4{
    width: 94%;
    height: 30px;
    background: url("../img/人物介绍框.png") no-repeat;
    background-size: 100%;
    margin-top: 30px;
    margin-left: 3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.page_5 .img4 h4{
    margin-top: -18px;
    font-size: 24px}
.page_5 .img4 img{
    width: 60px;
    height: 30px;
    margin-top: -14px;
}

.page_5 .img4 img:nth-child(3){
    transform: rotateZ(180deg);
}
.page_5 .img5 {
    width: 94%;
    margin-top: 20px;
    margin-left: 3%;
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
}

@keyframes l_ro {
    from {
        -webkit-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);
        -ms-transform:rotateZ(180deg);
        transform: rotateZ(180deg);
        opacity: 0;
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform:rotateZ(360deg);
        transform: rotateZ(360deg)scaleX(0.8);
        opacity: 1;
    }
}
@keyframes r_ro {
    from {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform:rotateZ(360deg);
        transform: rotateZ(360deg);
        opacity: 0;
    }
    to {
        -webkit-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);
        -ms-transform:rotateZ(180deg);
        transform: rotateZ(180deg) scaleX(0.8);
        opacity: 1;
    }
}
.run .page_5 .img1{animation: L_in 0.8s ease-in 0.2s 1;}
.run .page_5 .img2{animation: R_in 0.8s ease-in 0.2s 1;}
.run .page_5 .img3{animation: B_in 1.2s ease 0.2s 1;}
.run .page_5 .img4 img:nth-child(1){ animation: l_ro 1.2s ease 0.2s 1;}
.run .page_5 .img4 img:nth-child(3){ animation: r_ro 1.2s ease 0.2s 1;}
.run .page_5 .img5{animation: B_in 1.4s ease 0.2s 1;}

/*.page_6{*/
    /*position: r;*/
/*}*/
.page_6 .img1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_6 .img1 img{
    width: 96%;
    height: 105px;
    margin: 10px auto;
}
.page_6 .img1 .text{
    width: 35%;
    height: calc(100% - 125px);
    margin-left: 2%;
    padding-top: 65px;
    background: url("../img/5.2.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_6 .img1 .text div{
    text-align: center;
}

.page_6 .img1 .text div:last-child{
    margin-bottom: 40px;
}

.page_6 .img1 .text div h5{
    font-size: 18px;
}

.page_6 .img2{
    width: 35%;
    height: 60px;
    background: #fff;
    position: absolute;
    left: 2%;
    top: 60px;
    z-index: 8;
    text-align: center;
    overflow: visible;
}

.page_6 .img2 p{
    display: inline-block;
    height: 100%;
    line-height:60px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.page_6 .img2 img{
    width: 60%;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    /*top: 0;*/
    bottom: -18px;
    margin: auto;
}
.page_6 .img3{
    width:calc(100% - 39%);
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    top: 125px;
    right: 2%;
    z-index: 9;
}
.page_6 .img3 img{
    flex-shrink: 0;
    width: 31%;
    height: 50px;
}

.page_6 .img4{
    width: calc(61% + 16px);
    height: calc(100% - 190px);
    position: absolute;
    right: 2%;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_6 .img4 p{
    padding: 10px;
    background: #fff;
    font-size: 14px;
    line-height: 1.2em;
}

.run .page_6 .img1{animation: T_in 2s ease 0s 1;}
.run .page_6 .img2{animation: L_in 1.2s ease 0s 1;}
.run .page_6 .img3{animation: R_in 1.2s ease 0s 1;}

.run .page_6 .img4 p{animation: B_in 1.6s ease-in 0s 1;}



.page_7{justify-content: space-between}
.page_7 .img1{
    width: 94%;
    height: 50px;
    margin: 60px auto 40px auto;
    background:url("../img/人物介绍框.png") no-repeat;
    background-size:100% ;
    transition: All 1s 0s;
}
.page_7  .img1 h6{font-size: 24px;margin-top: -16px;text-align: center}

.page_7 .img2{
    width: 60%;
    height: 45%;
    margin:  0 auto;
}

.page_7 .img2 p{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
.page_7 .img3{
    width: 90%;
    margin-bottom: 30px;
}
.page_7 .img3 p{
    line-height: 1.7em;
}
@keyframes C_in{
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.run .page_7 .img1{animation: T_in 0.8s ease-in 0.2s 1;}
.run .page_7 .img2{animation: C_in 1.2s ease-in 0s 1;}
.run .page_7 .img3{animation: B_in 1.4s ease-in 0s 1;}

.page_1{
    z-index: 2 !important;
}

/*.page_2,.page_3,.page_4,.page_5,.page_6,.page_7{*/
    /*display: none;*/
/*}*/






